@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    word-wrap: normal !important;
}

.font-zodiak {
    font-family: 'Zodiak', serif;
}

.font-satoshi {
    font-family: 'Satoshi', sans-serif;
}


.know-more {
    height: 80px;
    width: 170px;
    border: 1px solid #2B4257;
    transition: 0.3s ease;

    svg {
        transition: 0.3s ease;
    }

    span {
        transition: 0.2s ease;
    }
}

.know-more:hover {
    height: 170px;
    width: 170px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px dashed #2B4257;

    svg {
        width: 5rem;
        height: 5rem;
        transform: translateX(-50%);
    }

    span {
        transform: translateX(-10%);
        opacity: 0;
    }

    
}