@page "/sobre"

<section class="px-[5%] sm:py-[5%] py-[20%] bg-[#F5FFFA] text-black font-satoshi 2xl:h-svh xl:h-[90svh] lg:h-[80svh] h-[70svh] grid grid-rows-2 place-items-center">
    <p class="tracking-tighter font-normal leading-none p-0 xl:text-[2.5cqw] lg:text-[3.5cqw] text-[4cqw]">
        A <span class="font-zodiak font-bold text-[#2B4257]">4i Consultoria.</span> é uma
        empresa
        especializada em transformar dados em estratégias vencedoras para Pequenas e Médias Empresas (PMEs) dos setores
        de serviços e indústria. Nossa missão é ajudar nossos clientes a otimizar processos, aumentar a eficiência e
        alcançar vantagens competitivas, tudo isso apoiado por soluções tecnológicas avançadas.
    </p>
    <p class="tracking-tighter font-normal leading-none p-0 xl:text-[2.5cqw] lg:text-[3.5cqw] text-[4cqw] grid place-items-end sm:text-left text-right">
        Unimos inteligência de negócios, planos estratégicos e competitividade
        em vendas, proporcionando uma
        consultoria robusta e personalizada. Nosso foco é fazer nossos clientes ganharem dinheiro através da
        otimização de processos, aumento da eficiência e vantagens competitivas.
    </p>
</section>