@page "/"
@inherits NavMenu

<section
    class="xl:h-[90svh] lg:h-[70svh] md:h-[60svh] sm:h-[50svh] h-[30svh] w-full bg-[#F5FFFA] text-[#2B4257]  flex items-end p-[2%] font-satoshi">
    <div class="w-full grid grid-rows-1 md:grid-cols-[10%_90%] grid-cols-1">
        <div class="font-semibold leading-none hidden md:flex flex-col justify-end py-3 p-0 sm:text-[1cqw]">
            <p class="p-0">EXPERIÊNCIA</p>
            <p class="p-0">EM VENDAS</p>
            <p class="p-0">E TECNOLOGIA</p>
        </div>
        <div class="font-bold leading-none text-center justify-end p-0 md:text-[12cqw] text-[12.7cqw] tracking-tighter">
            <p class="p-0">TRANSFORME</p>
            <p class="p-0">SEU FUTURO</p>
        </div>
    </div>
</section>

<section class="w-full md:h-[100svh] h-[70svh] bg-[#F5FFFA] text-[#2B4257] flex justify-center pb-[2%]">
    <div class="row w-full h-full bg-[url('../Images/background2.jpg')] bg-cover bg-no-repeat bg-center">
    </div>
</section>

<section class="p-[2%] bg-[#F5FFFA] text-[#2B4257] font-satoshi">
    <div class="row flex flex-row items-center font-semibold leading-none px-0 text-[4cqw]">
        <p class="pb-[2%] tracking-tighter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Somos uma
            empresa independente de consultoria localizada em Campinas-SP focada em transformar
            Pequenas e
            Médias empresas (PMEs) dos setores de serviços e indústrias.
        </p>
    </div>
    <div class="h-[30svh] row flex items-center justify-center">
        <a href="/#" class="flex flex-row justify-center items-center text-[#2B4257] font-semibold know-more ">
            <span class="text-[13px]">SAIBA MAIS</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 ml-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
        </a>
    </div>
</section>

<section class="w-full grid grid-rows-[20svh_70svh_70svh_70svh] font-satoshi bg-[#F5FFFA] text-[#2B4257] p-[2%]">
    <div class="grid grid-cols-[80%_20%] ">
        <h1 class="h-full flex items-end text-[8cqw] font-bold leading-none tracking-tighter">NOSSOS SERVIÇOS</h1>
        <a class="flex items-end justify-end text-[#2B4257] cursor-pointer">Ver todos</a>
    </div>
    <div class="w-full grid grid-cols-[20%_80%] pt-8">
        <div class="grid grid-rows-[5%_80%_15%] p-1">
            <div class="font-zodiak px-1">01.</div>
            <div class="text-[2.8cqw] font-bold tracking-tighter p-0 leading-none">DASHBOARD</div>
            <div class="flex items-end text-[1.2cqw] leading-none">
                Visão geral e aprofundada das suas métricas.
            </div>
        </div>
        <div class="p-1 h-full w-full">
            <div class="h-full w-full bg-[#ebf4f0]/70"></div>
        </div>
    </div>
    <div class="w-full grid grid-cols-[38%_24%_38%]">
        <div class="p-1 h-full w-full">
            <div class="h-full w-full bg-[#ebf4f0]/70"></div>
        </div>
        <div class="grid grid-rows-[5%_80%_15%] p-1">
            <div class="font-zodiak px-1">02.</div>
            <div class="text-[2.8cqw] font-bold tracking-tighter p-0 leading-none">FEEDBACK</div>
            <div class="flex items-end text-[1.2cqw] leading-none">
                Conversas regulares de como seu negócio está indo.
            </div>
        </div>
        <div class="p-1 h-full w-full">
            <div class="h-full w-full bg-[#ebf4f0]/70"></div>
        </div>
    </div>
    <div class="w-full grid grid-cols-[80%_20%]">
        <div class="p-1 h-full w-full">
            <div class="h-full w-full bg-[#ebf4f0]/70"></div>
        </div>
        <div class="grid grid-rows-[5%_80%_15%] p-1">
            <div class="font-zodiak px-1">03.</div>
            <div class="text-[2.8cqw] font-bold tracking-tighter p-0 leading-none">FIDELIDADE</div>
            <div class="flex items-end text-[1.2cqw] leading-none">
                Programas de fidelidade para clientes de longa data, com diversos benefícios.
            </div>
        </div>
    </div>
</section>