@inherits LayoutComponentBase
@inject NavigationManager Navigation

<PageTitle>4iConsultoria</PageTitle>

<NavMenu />

<div class="page">
    @Body
</div>

@if (!IsUrlContainingText("contato"))
{
    <Footer />
}

@code {
    public bool IsUrlContainingText(string text)
    {
        var currentUrl = Navigation.Uri;

        return currentUrl.Contains(text, StringComparison.OrdinalIgnoreCase);
    }
}