nav ul {
    height: 20px;
}

nav ul li {
    width: auto;
    z-index: 10;
}

    nav ul li a {
        display: flex;
        align-items: center;
        justify-items: center;
        font-size: 15px;
        padding: 10px;
        text-decoration: none;
        color: #F9F6EE;
    }

