/* _content/4iConsultoria/Shared/Footer.razor.rz.scp.css */
@keyframes entry-footer-b-1v2i6ugl22 {
    from {
        transform: translateY(40%);
    }

    to {
        transform: translateY(-10%);
        border-radius: 2rem;
    }
}
/* _content/4iConsultoria/Shared/MainLayout.razor.rz.scp.css */
html[b-kzmbymkd7h] {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    word-wrap: normal !important;
}
/* _content/4iConsultoria/Shared/NavMenu.razor.rz.scp.css */

nav ul li a[b-t6e8sjdti4] {
    font-size: 1cqw;
    padding: 10px;
    font-weight: 500;
    text-decoration: none;
    color: #2B4257;
    /* color: #F9F6EE; */
}
